In [2]:
import pandas as pd
import numpy as np

In [3]:
data=np.random.randint(1,10,(5,3))
df=pd.DataFrame(data, columns=list('ABC'))
df

   A  B  C
0  7  7  1
1  7  3  9
2  3  9  8
3  6  5  9
4  3  1  5

In [4]:
#file name for csv
df.to_csv('spam.csv')

In [5]:
df_load=pd.read_csv('spam.csv')
df_load

   Unnamed: 0  A  B  C
0           0  7  7  1
1           1  7  3  9
2           2  3  9  8
3           3  6  5  9
4           4  3  1  5

In [6]:
pd.read_csv('spam.csv', index_col=0)
df_load

   Unnamed: 0  A  B  C
0           0  7  7  1
1           1  7  3  9
2           2  3  9  8
3           3  6  5  9
4           4  3  1  5