In [4]:
import pandas as pd
import numpy as np

In [5]:
data=np.random.randint(1,10,(5,3))
df=pd.DataFrame(data, columns=list('ABC'))
df

   A  B  C
0  6  9  4
1  6  8  3
2  6  2  6
3  2  9  6
4  1  7  2

In [6]:
#file name for csv
df.to_csv('spam.csv')

In [7]:
df_load=pd.read_csv('spam.csv')
df_load

   Unnamed: 0  A  B  C
0           0  6  9  4
1           1  6  8  3
2           2  6  2  6
3           3  2  9  6
4           4  1  7  2

In [8]:
pd.read_csv('spam.csv', index_col=0)
df_load

   Unnamed: 0  A  B  C
0           0  6  9  4
1           1  6  8  3
2           2  6  2  6
3           3  2  9  6
4           4  1  7  2